<!-- ================== Header =================== -->
<header class="bs-docs-nav">
  <div class="container page-header">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header-nav">
        <nav class="meta-nav">
          <ul>
            <li class="meta-standard">
              <a href="#" class="privacy-disclaimer"
              ><span class="hidden-xs">Provider/Privacy </span></a
              >
            </li>
          </ul>
        </nav>
        <div class="info-layer-wrapper">
          <div id="privacyPolicy" style="display: none;">
            <div class="info-dialog">
              <div class="info-content">
                <div class="info-header">
                  <p class="info-title">Provider/Privacy</p>
                </div>
                <div class="info-body">
                  <div class="company-info">
                    <p class="headline">Daimler AG</p>
                    <p>
                      Mercedesstraße 137<br />
                      70327 Stuttgart<br />
                      Deutschland
                    </p>
                    <p>
                      Tel.: <a href="tel:+49 711 17 0">+49 711 17 0</a><br />
                      E-Mail:
                      <a href="mailto:dialog@daimler.com">dialog@daimler.com</a>
                    </p>
                  </div>
                  <div class="legal-info">
                    <p>
                      <strong>Represented by the Board of Management:</strong>
                      Dieter Zetsche (Vorsitzender), Wolfgang Bernhard, Renata
                      Jungo Brüngger, Ola Källenius, Wilfried Porth, Hubertus
                      Troska, Bodo Uebber, Thomas Weber
                    </p>
                    <p>
                      <strong>Chairman of the Supervisory Board:</strong>
                      Manfred Bischoff
                    </p>
                    <p>
                      Handelsregister beim Amtsgericht Stuttgart, Nr. HRB 19360
                      Umsatzsteueridentifikationsnummer: DE 81 25 26 315
                    </p>
                  </div>
                  <div class="links">
                    <ul>
                      <li>
                        <a
                          href="http://www.daimler.com/anbieter/"
                          target="_blank"
                        >Legal Notice</a
                        >
                      </li>
                      <li>
                        <a
                          href="http://www.daimler.com/cookies/"
                          target="_blank"
                        >Cookies</a
                        >
                      </li>
                      <li>
                        <a
                          href="http://www.daimler.com/datenschutz/"
                          target="_blank"
                        >Privacy Statement</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 logo-wrapper">
        <a target="_self" href="index.html">
          <img
            alt="DAIMLER"
            src="assets/img/img_logo_daimler_svg.svg"
            class="logo-daimler-svg"
          />
          <!--[if lt IE 9]>
          <img src="img/img_logo_daimler_png.png" alt="DAIMLER" />
          <![endif]-->
        </a>
      </div>
      <div class="buttons-wrapper">
        <a href="#" class="btn offcanvas-toggle" style="display: none;"></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 page-title-wrapper">
        <p><strong id="page-title" translate>TITLE</strong></p>
        <P class="p-small" translate>SUB_TITLE</P>
      </div>
    </div>
  </div>
</header>
<!-- ============================================= -->
