<app-header></app-header>

<div>
  <div class="hidden-xs hidden-sm col-md-2">
    <app-nav-pills></app-nav-pills>
  </div>
  <div class="col-md-10">
    <table class="daimler-table-zebra-stripe">
      <thead>
      <tr>
        <th></th>
        <th colspan="2"><span class="daimler-table-header">Daimler-Konzen</span></th>
        <th colspan="2" class="daimler-table-cell-separator"><span class="daimler-table-header">Industriegeschäft</span><br>ungerprüfte<br>Zusatzinformationen</th>
        <th colspan="2" class="daimler-table-cell-separator"><span class="daimler-table-header">Daimler<br>Financial Services</span><br>ungerprüfte<br>Zusatzinformationen</th>
      </tr>
      <tr>
        <th></th>
        <th class="daimler-table-cell-highlight">Q3 2014</th>
        <th>Q3 2013<sup>1</sup></th>
        <th class="daimler-table-cell-separator">Q3 2014</th>
        <th>Q3 2013<sup>1</sup></th>
        <th class="daimler-table-cell-separator">Q3 2014</th>
        <th>Q3 2013<sup>1</sup></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="daimler-table-header" scope="row">In Millionen €</th>
        <td class="daimler-table-cell-highlight"></td>
        <td></td>
        <td class="daimler-table-cell-separator"></td>
        <td></td>
        <td class="daimler-table-cell-separator"></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Umsatzerlöse</th>
        <td class="daimler-table-cell-highlight">33.122</td>
        <td>30.099</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
      </tr>
      <tr>
        <th scope="row">Umsatzkosten</th>
        <td class="daimler-table-cell-highlight">33.122</td>
        <td>30.099</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
      </tr>
      <tr>
        <th class="daimler-table-header" scope="row">Zwischenheadline</th>
        <td class="daimler-table-cell-highlight"></td>
        <td></td>
        <td class="daimler-table-cell-separator"></td>
        <td></td>
        <td class="daimler-table-cell-separator"></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Vertriebskoten</th>
        <td class="daimler-table-cell-highlight">33.122</td>
        <td>30.099</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
      </tr>
      <tr>
        <th scope="row">Allgemeine<br>Verwaltungskoten</th>
        <td class="daimler-table-cell-highlight">33.122</td>
        <td>30.099</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
      </tr>
      <tr>
        <th scope="row">Forschungs- und<br>nicht aktivierte<br>Entwicklungskosten</th>
        <td class="daimler-table-cell-highlight">33.122</td>
        <td>30.099</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
      </tr>
      <tr>
        <th  class="daimler-table-header" scope="row">Zwischenheadline</th>
        <td class="daimler-table-cell-highlight"></td>
        <td></td>
        <td class="daimler-table-cell-separator"></td>
        <td></td>
        <td class="daimler-table-cell-separator"></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Davon auf nicht<br>beherrschende<br>Anteile entfallandes<br>Ergebnis</th>
        <td class="daimler-table-cell-highlight">33.122</td>
        <td>30.099</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
      </tr>
      <tr>
        <th scope="row">Davon Anteil der<br>Aktionäre der<br>Daimler AG am<br>Konzernergebnis</th>
        <td class="daimler-table-cell-highlight">33.122</td>
        <td>30.099</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
      </tr>
      <tr>
        <th scope="row">Sonstige betriebliche<br>Erträge</th>
        <td class="daimler-table-cell-highlight">33.122</td>
        <td>30.099</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
        <td class="daimler-table-cell-separator">29.124</td>
        <td>26.442</td>
      </tr>
      </tbody>
    </table>


  </div>
</div>
